:root {
  /* light mode */
  --background: #fff;
  --text: #1f1f1fff;
  --border: #d3e3fdff;
  --primary-text: #fff;
  --primary: #0b57d0ff;
  --primary-hover: color-mix(in srgb, var(--primary) 90%, #fdfcfb 10%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828ff;
    --text: #e3e3e3ff;
    --border: #5e5e5eff;
    --primary-text: #062e6fff;
    --primary: #a8c7faff;
    --primary-hover: color-mix(in srgb, var(--primary) 90%, #fdfcfb 10%);
  }

  * {
    scrollbar-color: #9f9f9f #2c2c2c;
  }

  /* somehow not working in devtool
        ::-webkit-scrollbar-track {
          background: #2c2c2c;
        }
        ::-webkit-scrollbar-thumb {
          background: #9f9f9f;
        }
        ::-webkit-scrollbar-thumb:hover {
          background: #d1d1d1;
        }
        */
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 20px;
  font-family: "Google Sans Text", "Google Sans", system-ui, sans-serif;
}
button {
  background-color: var(--primary);
  color: var(--primary-text);
  border: 1px solid var(--primary);
  border-radius: 9999px;
  padding: 2px 12px;
  cursor: pointer;
  transition: background 0.2s;
}
button:hover {
  background: var(--primary-hover);
}
button:disabled {
  background-color: rgb(228 228 288); /* rgb (31 31 31 / 12%) */
  color: gray;
  border: 1px solid rgb(228 228 288);
  pointer-events: none;
  cursor: not-allowed;
}
h3 {
  font-weight: 500;
  margin: 0;
}

input,
textarea {
  color: var(--text);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--primary);
  outline: 1px solid var(--primary);
}

code {
  font-family: "Noto Sans Mono", "DejaVu Sans Mono", monospace;
  font-size: 11px;
}
